{% extends "teams.html" %}

{% block title %}{{team.team_name}}{%endblock%}


{%block main%}
<h1>{{team.team_name}}</h1>

{% if status_message %}<p><strong>{{ status_message }}</strong></p>{% endif %}

<p>Type: {%ifnotequal team.project_type 'None'%}{{team.project_type}}{%endifnotequal%}</p>
<p>Genre: {%ifnotequal team.genre 'None'%}{{team.genre}}{%endifnotequal%}</p>

<p><strong>Location:</strong>
{%if team.city%}{{team.city}}{%endif%}
{%if team.city and team.state%}, {%endif%}
{%ifnotequal team.state 'None'%}{{team.state}}{%endifnotequal%}<br></p>
<p><a href="/teams/{{team.id}}/edit">Edit Team Info</a><br>
<a href="/teams/">Return to the Team List</a></p>
{%endblock%}

