{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html>
<head>
	<title>{{team.team_name}} on InsertTeamHere</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}teams.css" />
</head>

<body>
<h1>{{team.team_name}}</h1>

{% if status_message %}<p><strong>{{ status_message }}</strong></p>{% endif %}

<p>{{team.genre}}</p>
<p>{{team.project_type}}</p>

<strong>Location:</strong> {{team.city}}, {{team.state}}

<p>

<a href="/teams/{{team.id}}/edit">Edit Team Info</a>
<p>
<a href="/teams/">Team List</a>

<a href="{{ STATIC }}/teams.css>CSS</a>

</body>

</html>

